body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:-11px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:306px;
  top:108px;
  width:320px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:316px;
  top:118px;
  width:46px;
  height:31px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:306px;
  top:540px;
  width:320px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:314px;
  top:549px;
  width:46px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:582px;
  top:118px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:368px;
  top:549px;
  width:80px;
  height:27px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:430px;
  top:555px;
  width:17px;
  height:23px;
  font-family:'Wingdings 3 normal', 'Wingdings 3';
  font-size:19px;
  color:#797979;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:455px;
  top:549px;
  width:80px;
  height:27px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:517px;
  top:555px;
  width:17px;
  height:23px;
  font-family:'Wingdings 3 normal', 'Wingdings 3';
  font-size:19px;
  color:#797979;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:541px;
  top:549px;
  width:80px;
  height:27px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:603px;
  top:555px;
  width:17px;
  height:23px;
  font-family:'Wingdings 3 normal', 'Wingdings 3';
  font-size:19px;
  color:#797979;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:316px;
  top:168px;
  width:298px;
  height:192px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:192px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:541px;
  top:457px;
  width:81px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:541px;
  top:487px;
  width:81px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:541px;
  top:517px;
  width:81px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
